[Unit]
Description=Run AUR's mac update service

[Timer]
Unit=mac_aur.service
OnStartupSec=15min
OnUnitActiveSec=4h

[Install]
WantedBy=timers.target
