[Unit]
Description=Run service sending public IP upon change

[Timer]
Unit=send_ip.service
OnStartupSec=20min
OnUnitActiveSec=20min

[Install]
WantedBy=timers.target
